@{
    ViewData["Title"] = "Home Page";
    var saludo = "Hola Mundo en una variable!!";
    var fecha = DateTime.Now;
}
<h1>@saludo</h1>
<h1>@ViewBag.saludo</h1>
<h2>Hoy es: @fecha</h2>
<div class="text-center">
    <h1 class="display-4">Buenos dias</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
